body {
  font-family: Arial;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 10px;
}

.thumb {
  background: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
}

.thumb img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.thumb p {
  padding: 10px;
  font-size: 14px;
}

/* POPUP */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
}

.box {
  background: #111;
  padding: 20px;
  margin: 100px auto;
  width: 300px;
  border-radius: 10px;
}

.box img {
  width: 100%;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: red;
  border: none;
  color: white;
}

.hidden {
  display: none;
}  background: red;
  border: none;
  color: white;
  width: 100%;
}

.hidden {
  display: none;
}
